{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "redux-saga"
  ],
  "rules": {
    "max-len": [
      2,
      120
    ],
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/client.babel.js"
      }
    }
  }
}