{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "redux-saga",
    "jest"
  ],
  "rules": {
    "max-len": [
      "error",
      120
    ],
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/client.babel.js"
      }
    }
  }
}