:global{
  h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
    font-weight: 600;
    line-height: 1.125;
    color: #363636;
  }
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  h4:not(:last-child), h5:not(:last-child), h6:not(:last-child){
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.6rem;
  }

  p:not(:last-child),
  dl:not(:last-child),
  ol:not(:last-child),
  ul:not(:last-child),
  blockquote:not(:last-child),
  pre:not(:last-child),
  table:not(:last-child),
  figure {
    margin-bottom: 1em;
  }

table thead th, table thead td {

    border: 1px solid #dbdbdb;
    border-width: 0 0 2px;
    font-weight: bold;
}
table tbody td {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
}
  table thead th, table thead td, table tbody td {
    color: #363636;
    vertical-align: top;
    text-align: left;
    padding: 0.35em 0.7em;
  }
   table thead th span, table thead td span {
     font-size: 1.005em !important;
   }

  figure img {
      display: block;
      margin: 0 auto;
  }
  figure figcaption {
      text-align: center;
      font-style: italic;
  }
}