.nav {
  height: 5em;
}
.hero.is-dark a.nav-item {
  font-size: 1.5em;
  // color: #fff;
}

.is-dark label {
    color: #fff;
    text-shadow: 1px 1px #363636;
}

.vh-30 {
  height: 30vh;
}

.mbp-1 {
  margin-bottom: 1%;
}

.is-dark .content {
  color: #f5f5f5;
}

.title.is-primary {
  color: #0c9;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.field .fa, .field span.select {
    color: #add;
}